.editor-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border-radius: 0.375rem;

  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.editor-button:hover {
  background-color: rgb(128 128 128 / 12%);
}

.editor-button_active {
  background-color: rgb(128 128 128 / 24%);
}

.editor-button_disabled {
  opacity: 0.5;
}

.editor-button_type_font-color {
  position: relative;
  overflow: hidden;
}

.editor-button_type_background-color {
  position: relative;
  overflow: hidden;
}

.editor-button__input {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}
