.ProseMirror .is-empty::before {
  pointer-events: none;
  content: attr(data-placeholder);

  float: left;

  height: 0;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #cbd5e0;

  opacity: 1;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-property: opacity;
}

.ProseMirror:focus .is-empty::before {
  opacity: 0;
}

.ProseMirror [data-indent="1"] {
  padding-left: 1rem;
}

.ProseMirror [data-indent="2"] {
  padding-left: 2rem;
}

.ProseMirror [data-indent="3"] {
  padding-left: 3rem;
}

.ProseMirror [data-indent="4"] {
  padding-left: 4rem;
}

.ProseMirror [data-indent="5"] {
  padding-left: 5rem;
}

.ProseMirror [data-indent="6"] {
  padding-left: 6rem;
}

.ProseMirror [data-indent="7"] {
  padding-left: 7rem;
}

.ProseMirror [data-indent="8"] {
  padding-left: 8rem;
}
