.editor-select {
  position: relative;
}

.editor-select__picker {
  cursor: pointer;
  width: 76px;
  appearance: none;
  outline: none;
}

.editor-select__picker:focus {
  outline: none;
}

.editor-select__picker_disabled {
  opacity: 0.5;
}

.editor-select__icon {
  pointer-events: none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
}

.editor-select__icon_disabled {
  opacity: 0.5;
}
