:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: rgb(255 255 255 / 87%);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
}

html,
body {
  margin: 0;
  padding: 0;
}
